<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="/register" access="isAnonymous()"/>
        <intercept-url pattern="/login" access="isAnonymous()"/>
        <intercept-url pattern="/patients/**" access="hasRole('DOCTOR')"/>
        <intercept-url pattern="/events/**" access="hasRole('NURSE')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login login-page="/login" default-target-url="/"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/login"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="noopEncoder"/>
            <!--<user-service>
                <user name="doctor@gmail.com" password="doctor" authorities="ROLE_DOCTOR"/>
                <user name="nurse@gmail.com" password="nurse" authorities="ROLE_NURSE"/>
            </user-service>-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>